body{
	font-family: courier, helvetica, arial;
	background-image: linear-gradient(to right, #f8f3ed , #eee3d2, #eee3d2, #eee3d2, #f8f3ed);
	margin: auto;
}

header{
	max-width: 960px;
	margin: auto;
}

#topo_1{
	height: 150px;
	max-width: 480px;
	float: left;
}

#nome{
	font-weight: normal;
	margin: auto;
	padding: 45px 0 0 20px;
	color: #0b3443;
	font-size: 40px;
	text-shadow: 1px 1px 1px #ffffff;
}

#oab{
	font-weight: normal;
	margin: auto;
	padding: 5px 0 0 30px;
	color: #0b3443;
	font-size: 17px;
}

#topo_2{
	height: 150px;
	max-width: 480px;
	float: right;
}

#contato{
	color: #0b3443;
	margin: auto;
	text-align: right;
	padding: 55px 20px 0 0;
	color: rgba(0, 0, 0, 0.5);
}

#email{
	margin: auto;
	text-decoration: none;
	color: #0b3443;
	color: rgba(0, 0, 0, 0.5);
}

#telefone{
	margin: auto;
	padding: 5px 0 0 0;
}

#content_1{
	clear: both;
	max-width: 960px;
	margin: auto;
	min-height: 600px;
}

#content_2{
	background-image: linear-gradient(to right, #f7f0e6 , #eee3d2, #eee3d2, #eee3d2, #f7f0e6);
	clear: both;
	margin: auto;
	min-height: 600px;
}

#foto{
	width: 42%;
}
#foto_1{
	width: 100%;
	border-radius: 20px;
	float: left;
}

#sobre{
	width: 58%;
	float: right;
}

#sobre_1{
	font-weight: normal;
	width: 100%;
	float: right;
	margin: auto;
	text-align: center;
	padding: 10px 0 0 0;
	color: #0b3443;
	font-size: 35px;
	text-shadow: 1px 1px 1px #ffffff;
}

#sobre_2{
	width: 100%;
	float: right;
	font-size: 16px;
}

#texto{
	width: 90%;
	margin: auto;
	text-align: justify;
	color: #0b3443;
	padding: 25px 0 0 0;
	text-shadow: 1px 1px 1px #ffffff;
}

#referencia{
	width: 90%;
	margin: auto;
	font-style: italic;
	text-align: justify;
	color: #0b3443;
	padding: 25px 0 0 0;
	text-shadow: 1px 1px 1px #ffffff;
}

#botao_contato{
	width: 100%;
	float: right;
	padding: 20px 0 30px 0;
}

#limite_botao{
	padding: 30px 0 0 0;
	width: 75%;
	text-align: center;
	margin: auto;
}

#clicar{
	width: 75%;
	padding: 1px 5px 1px 5px;
	background-color: #0b3443;
	color: #f8f3ed;
	margin: auto;
	text-align: center;
	font-size: 18px;
	border-radius: 30px;
}

#link{
	text-decoration-line: none;
}

#area{
	clear: both;
	background-color: #0b3443;
	color: #eee3d2;
	min-height: 200px;
	border-radius: 20px;
}

#titulo{
	margin: auto;
	text-align: center;
	padding: 5px 0 0 0;
	font-size: 30px;
	text-shadow: 1px 1px 1px #ffffff;
}

#areas{
	max-width: 960px;
	min-height: 200px;
	margin: auto;
}

#area_1{
	height: 100%;
	min-height: 30px;
	width: 33%;
	float: left;
}

#area_2{
	height: 100%;
	min-height: 30px;
	width: 33%;
	float: right;
}

#area_3{
	height: 100%;
	min-height: 30px;
	width: 33%;
	float: right;
}

#foto_1_1{
	width: 100px;
	margin: auto;
	padding: 0 0 0 110px;
}

#descricao{
	font-weight: normal;
	margin: auto;
	text-align: center;
}

#local{
	font-size: 25px;
	padding: 20px 0 0 0;
	color: #0b3443;
	margin: auto;
	text-shadow: 1px 1px 1px #ffffff;
}

#endereco{
	color: #0b3443;
	margin: auto;
	height: 20px;
	max-width: 960px;
	text-shadow: 1px 1px 1px #ffffff;
}

#endereco_1{
	margin: auto;
	width: 480px;
	float: left;
	text-align: left;
}

#endereco_1_1{
	margin: auto;
	padding: 5px 0 20px 0;
}

#endereco_2{
	margin: auto;
	width: 480px;
	float: right;
	text-align: right;
}

#mapa_1{
	max-width: 960px;
	margin: auto;
}

#mapa_2{
	width: 100%;
	padding: 30px 0 0 0;
	margin: auto;
}

#direitos{
	margin: auto;
	text-align: center;
	padding: 8px;
	border-radius: 15px;
}
footer{
	background-color: #0b3443;
	clear: both;
	min-height: 20px;
	color: #eee3d2;
}

/*=====================================================================================================*/


@media only screen and (max-device-width: 900px) {

	header{
		max-width: 100%;
		margin: auto;
		min-height: 80px;
	}

	#topo_1{
		clear: both;
		background-color: #eee3d2;
		height: 50%;
		width: 100%;
		margin: auto;
		text-align: center;
	}

	#topo_2{
		clear: both;
		background-color: #eee3d2;
		height: 50%;
		width: 100%;
		margin: auto;
		text-align: left;
	}

	#nome{
		margin: auto;
		padding: 20px 0 0 0;
		color: #0b3443;
		font-size: 30px;
		font-weight: normal;
		text-align: center;
		text-shadow: 1px 1px 1px #ffffff;
	}
	
	#oab{
		margin: auto;
		padding: 5px 0 0 10px;
		color: #0b3443;
		font-size: 16px;
		text-align: center;
	}

	#contato{
		margin: auto;
		text-align: left;
		padding: 20px 0 0 10px;
	}

	#email{
		margin: auto;
		text-decoration: none;
		clear: both;
		color: #0b3443;
		color: rgba(0, 0, 0, 0.5);
		font-size: 14px;
	}
	
	#telefone{
		text-decoration: none;
		margin: auto;
		font-size: 14px;
	}

	#content_1{
		clear: both;
		width: 100%;
		margin: auto;
		min-height: 600px;
		align-items: center;
	}

	#foto{
		width: 100%;
		margin: auto;
		padding: 30px 0 0 0;
		align-items: center;
	}
	#foto_1{
		width: 60%;
		padding-left: 20%;
		border-radius: 0px;
		align-items: center;
	}

	#sobre{
		margin: auto;
		padding: 10px 0 0 0;
		width: 100%;
		clear: both;
	}

	#sobre_1{
		width: 100%;
		margin: auto;
		text-align: center;
		color: #0b3443;
		font-size: 28px;
		text-shadow: 1px 1px 1px #ffffff;
	}
	
	#sobre_2{
		width: 90%;
		padding-right: 5%;
		font-size: 16px;
		margin: auto;
		text-align: center;
	}

	#botao_contato{
		width: 100%;
		margin: auto;
		padding: 50px 0 70px 0;
	}

	#limite_botao{
		padding: 20px 0 0 0;
		width: 90%;
		text-align: center;
		margin: auto;
	}

	#clicar{
		width: 85%;
		padding: 1px 5px 1px 5px;
		background-color: #0b3443;
		color: #f8f3ed;
		margin: auto;
		text-align: center;
		font-size: 18px;
		border-radius: 50px;
	}

	#titulo{
		font-weight: normal;
		font-size: 20px;
	}

	#content_2{
		background-image: linear-gradient(to right, #f7f0e6 , #eee3d2, #eee3d2, #eee3d2, #f7f0e6);
		clear: both;
		margin: auto;
		min-height: 600px;
		width: 100%;
	}

	#area {
		min-height: 130px;
		width: 100%;
	}

	#areas {
		width: 100%;
		margin: auto;
	}

	#area_1{
		width: 33%;
		margin: auto;
	}

	#area_2{
		width: 33%;
		margin: auto;
	}

	#area_3{
		width: 33%;
		margin: auto;
	}

	#foto_1_1{
		width: 60%;
		margin: auto;
		padding-left: 20%;
	}
	
	#descricao{
		width: 90%;
		font-weight: normal;
		margin: auto;
		text-align: center;
		font-size: 14px;
	}

	#mapa_1{
		width: 100%;
		margin: auto;
	}

	#mapa_2{
		width: 90%;
		padding-left: 5%;
		height: 300px;
	}

	#endereco{
		margin: auto;
		width: 90%;
		padding-left: 5%;
		text-align: justify;
	}

	#endereco_1{
		width: 100%;
		margin: auto;
		font-size: 12px;
		clear: both;
		text-align: justify;
	}

	#endereco_2{
		width: 100%;
		margin: auto;
		font-size: 12px;
		clear: both;
		text-align: justify;
	}

	footer{
		margin: auto;
		font-size: 10px;
	}
	
}
