body{
	font-family: courier, helvetica, arial;
	/* background: #f7f0e6; */
	background-image: linear-gradient(to right, #f8f3ed , #eee3d2, #eee3d2, #eee3d2, #f8f3ed);
	/* max-width: 960px; */
	margin: auto;
}

header{
	max-width: 960px;
	margin: auto;
}

#topo_1{
	background-color: #eee3d2;
	height: 150px;
	width: 480px;
	float: left;
}

#nome{
	margin: auto;
	padding: 45px 0 0 20px;
	color: #0b3443;
	font-size: 40px;
	text-shadow: 1px 1px 1px #ffffff;
}

#oab{
	margin: auto;
	padding: 5px 0 0 30px;
	color: #0b3443;
}

#topo_2{
	background-color: #eee3d2;
	height: 150px;
	width: 480px;
	float: right;
}

#contato{
	color: #0b3443;
	margin: auto;
	text-align: right;
	padding: 55px 20px 0 0;
	color: rgba(0, 0, 0, 0.5);
}

#email{
	margin: auto;
	text-decoration: none;
	color: #0b3443;
	color: rgba(0, 0, 0, 0.5);
}

#telefone{
	margin: auto;
	padding: 5px 0 0 0;
}

#content_1{
	background-color: #eee3d2;
	clear: both;
	max-width: 960px;
	margin: auto;
	min-height: 600px;
}

#content_2{
	/* background-color: #eee3d2; */
	background-image: linear-gradient(to right, #f7f0e6 , #eee3d2, #eee3d2, #eee3d2, #f7f0e6);
	clear: both;
	margin: auto;
	min-height: 600px;
}

#foto{
	padding: 20px 0 0 0;
}
#foto_1{
	width: 400px;
	border-radius: 20px;
	float: left;
}

#sobre_1{
	width: 560px;
	float: right;
	margin: auto;
	text-align: center;
	padding: 10px 0 0 0;
	color: #0b3443;
	font-size: 35px;
	text-shadow: 1px 1px 1px #ffffff;
}

#sobre_2{
	width: 560px;
	float: right;
	font-size: 16px;
}

#texto{
	width: 500px;
	margin: auto;
	text-align: justify;
	color: #0b3443;
	padding: 25px 0 0 0;
	text-shadow: 1px 1px 1px #ffffff;
}

#referencia{
	width: 500px;
	margin: auto;
	font-style: italic;
	text-align: justify;
	color: #0b3443;
	padding: 25px 0 0 0;
	text-shadow: 1px 1px 1px #ffffff;
}

#botao_contato{
	width: 560px;
	float: right;
	padding: 20px 0 30px 0;
}

#limite_botao{
	width: 300px;
	text-align: center;
	margin: auto;
}

#clicar{
	width: 300px;
	padding: 1px 5px 1px 5px;
	background-color: #0b3443;
	color: #f8f3ed;
	margin: auto;
	text-align: center;
	border-radius: 25px;
}

#link{
	text-decoration-line: none;
}

#area{
	clear: both;
	background-color: #0b3443;
	color: #eee3d2;
	height: 280px;
	border-radius: 20px;
}

#titulo{
	margin: auto;
	text-align: center;
	padding: 5px 0 0 0;
	font-size: 30px;
	text-shadow: 1px 1px 1px #ffffff;
}

#areas{
	width: 960px;
	margin: auto;
}

#area_1{
	height: 100%;
	min-height: 30px;
	width: 320px;
	float: left;
}

#area_2{
	height: 100%;
	min-height: 30px;
	width: 320px;
	float: right;
}

#area_3{
	height: 100%;
	min-height: 30px;
	width: 320px;
	float: right;
}

#foto_1_1{
	width: 100px;
	margin: auto;
	padding: 0 0 0 110px;
}

#descricao{
	margin: auto;
	text-align: center;
}

#local{
	font-size: 25px;
	padding: 20px 0 0 0;
	color: #0b3443;
	margin: auto;
	text-shadow: 1px 1px 1px #ffffff;
}

#endereco{
	color: #0b3443;
	margin: auto;
	height: 20px;
	max-width: 960px;
	text-shadow: 1px 1px 1px #ffffff;
}

#endereco_1{
	margin: auto;
	width: 480px;
	float: left;
	text-align: left;
}

#endereco_1_1{
	margin: auto;
	padding: 5px 0 20px 0;
}

#endereco_2{
	margin: auto;
	width: 480px;
	float: right;
	text-align: right;
}

#mapa_1{
	max-width: 960px;
	margin: auto;
}

#mapa_2{
	max-width: 960px;
	padding: 30px 0 0 0;
	margin: auto;
}

#direitos{
	margin: auto;
	text-align: center;
	padding: 8px;
	border-radius: 15px;
}
footer{
	background-color: #0b3443;
	clear: both;
	min-height: 20px;
	color: #eee3d2;
}